#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 7px; padding-top:5px; width:30px;
    border-radius:50%; }
