<div class="mui-textfield mui-textfield--float-label">
    <input type="text" name="description" ng-model="formData.description">
    <label for="description">Description</label>
</div>

<div class="mui-textfield mui-textfield--float-label">
    <input type="text"  name="location" ng-model="formData.location">
    <label for="location">Location</label>
</div>

<div class="mui-textfield mui-textfield--float-label">
    <input type="text"  name="team" ng-model="formData.team">
      <label for="team">Team</label>
</div>

<div class="form-group mui-row">
<div class="mui-col-xs-6 mui-col-xs-offset-3 mui--text-center">
    <a ui-sref="form.social-media" class="mui-btn mui-btn--primary mui-btn--raised">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
