<div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" name="description" ng-model="formData.description">
</div>

<div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" name="location" ng-model="formData.location">
</div>

<div class="form-group">
    <label for="team">Team</label>
    <input type="text" class="form-control" name="team" ng-model="formData.team">
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.social-media" class="btn btn-block btn-info">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
