<div class="mui-container-fluid">
  <div class="mui-row">
    <div class="mui-col-md-8 mui-col-md-offset-2">

      <div id="form-container">

      <div class="page-header mui--text-center">
          <h2 class="page-heading">OpenSponsorship Test</h2>

          <!-- the links to nested states using relative paths -->
          <!-- add the active class if the state matches ui-sref -->
          <div id="status-buttons" class="mui--text-center">
              <a ui-sref-active="active" ui-sref=".basic-info"><span >1</span> Basic Info</a>
              <a ui-sref-active="active" ui-sref=".about"><span>2</span> About</a>
              <a ui-sref-active="active" ui-sref=".social-media"><span>3</span> Social Media</a>
              <a ui-sref-active="active" ui-sref=".bonus-list" ng-click="getArchives()"><span>4</span> Saved Names</a>
          </div>
          <div class="mui-divider"></div>
          <br><br>
      </div>

      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="signup-form" ng-submit="processForm()">
          <!--  nested state views will be injected here -->
          <div id="form-views" ui-view></div>
      </form>

      </div>
    </div>
  </div>
</div>
