
<p ng-repeat="obj in summaryArray">
   <font ng-repeat="(key, value) in obj">
      {{key | capitalize}} : {{ value }}
   </font>
</p>


<div class="mui--text-center">
  <a ui-sref="form.basic-info" class="mui-btn mui-btn--accent mui-btn--raised">
  EDIT <span class="glyphicon glyphicon-circle-arrow-right"></span>
  </a>
  <br><br>
  <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised"">SUBMIT</button>
  <br><br>
  <a ui-sref="form.basic-info" ng-click="clearForm()" class="mui-btn mui-btn--danger mui-btn--raised">
  START OVER
  <span class="glyphicon glyphicon-circle-arrow-right"></span>
  </a>
  <br><br>
</div>
